<% layout("/Admin/AdminLayout/boilerplate.ejs") %>

    <body>
        <div class="row" id="editDiv">
            <form action="/Admin/Product/Edit/<%= Products[0].productId %>?_method=PATCH" enctype="multipart/form-data"
                method="post" novalidate class="needs-validation" id="editForm">
                <div id="mainDiv">
                    <div class="details col-md-4">
                        <div class="mb-2">
                            <label for="title" class="form-label">Title</label>
                            <input required type="text" class="form-control" value="<%= Products[0].title %>"
                                name="listing[title]" id="title">
                            <div class="invalid-feedback">
                                Invalid Title
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="Description" class="form-label">Description</label>
                            <textarea required type="text" rows="3" class="form-control" name="listing[description]"
                                id="Description"><%= Products[0].description %></textarea>
                            <div class="invalid-feedback">
                                Invalid Description
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-6">
                                <label for="Price" class="form-label"> &#8377; Price</label>
                                <input required type="number" class="form-control" value="<%= Products[0].price %>"
                                    name="listing[price]" id="Price">
                                <div class="invalid-feedback">
                                    Enter Valid Price
                                </div>
                            </div>
                            <div class="mb-2 col-md-6">
                                <label for="productId" class="form-label">Product Id</label>
                                <input required type="text" value="<%= Products[0].productId %>" class="form-control"
                                    name="listing[productId]" id="productId">
                                <div class="invalid-feedback">
                                    Invalid Product Id
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-md-6">
                                <label for="CategoryName" class="form-label">Category Name</label>
                                <input required type="text" value="<%= Products[0].categoryName %>" class="form-control"
                                    name="listing[categoryName]" id="CategoryName">
                                <div class="invalid-feedback">
                                    Invalid Category Name
                                </div>
                            </div>
                            <div class="mb-2 col-md-6">
                                <label for="categoryId" class="form-label">Category Id</label>
                                <input required type="number" value="<%= Products[0].categoryId %>" class="form-control"
                                    name="listing[categoryId]" id="categoryId">
                                <div class="invalid-feedback">
                                    Invalid Category Id
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="carouselExampleIndicators" class="carousel slide pointer-event col-md-4">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active bg-which" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" class="bg-which" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" class="bg-which" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/uploads/<%= Products[0].image1 %>" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="/uploads/<%= Products[0].image2 %>" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="/uploads/<%= Products[0].image3 %>" class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="img col-md-4">
                        <div class="img1 mb-4">
                            <input type="text" class="form-control" readonly name="listing[image]" id="image1"
                                value="<%= Products[0].image1 %>">
                            <input type="file" class="form-control" style="margin-top: 5px;" name="listing[newImage]"
                                id="newImage1">
                            <label>
                                <input type="checkbox" name="changeImage1" id="changeImage1">
                                Change Image 1
                            </label>
                            <div class="invalid-feedback">
                                Image 1 required
                            </div>
                        </div>
                        <div class="img2 mb-4">
                            <input type="text" class="form-control" readonly name="listing[image2]" id="image2"
                                value="<%= Products[0].image2 %>">
                            <input type="file" class="form-control" style="margin-top: 5px;" name="listing[newImage]"
                                id="newImage2">
                            <label>
                                <input type="checkbox" name="changeImage2" id="changeImage2">
                                Change Image 2
                            </label>
                            <div class="invalid-feedback">
                                Image 2 required
                            </div>
                        </div>
                        <div class="img3 mb-4">
                            <input type="text" class="form-control" readonly name="listing[image3]" id="image3"
                                value="<%= Products[0].image3 %>">
                            <input type="file" class="form-control" style="margin-top: 5px;" name="listing[newImage]"
                                id="newImage3">
                            <label>

                                <input type="checkbox" name="changeImage3" id="changeImage3">
                                Change Image 3
                            </label>
                            <div class="invalid-feedback">
                                Image 3 required
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HTML !-->
                <button class="button-33" role="button">Done</button>

               
            </form>
        </div>
    </body>