<body>
    <!-- navbar file -->
    <% layout("/layouts/boilerplate.ejs") %>
        <h3 id="Category-text">
            <%= CategoryName.toUpperCase() %>
        </h3>
        <div class="Category-Postcontainer">
            <% for(let i=0; i<categorys.length; i++){ %>
                <a href="/category/<%= CategoryName %>/<%= categorys[i].productId %>">
                    <div class="card">
                        <div class="picture picture-category">
                            <img src="<%= categorys[i].image1 %>" class="card-img-top" alt="img">
                        </div>
                        <div class="aboutProduct-category">
                            <h5 class="Product-title">
                                <img width="20" height="20" src="https://img.icons8.com/fluency/48/collect.png"
                                    alt="collect" />
                                <%= categorys[i].title %>
                            </h5>
                            <h6 id="Price" class="mb-3"><i class="fa-solid fa-indian-rupee-sign"></i>
                                <%= categorys[i].price %>
                            </h6>
                            <div id="discription mb-3">
                                <h5 class="discription" style="display: inline;">
                                    ProductId : <%= categorys[i].productId %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
</body>