<body>
    <!-- navbar file -->
    <% layout("/layouts/boilerplate.ejs") %>
        <h3 id="Category-text">Category's</h3>
        <div class="Category">
            <% for(let i=0; i<categorys.length; i++){ %>
                <div class="card categoryCard">
                    <div class="picture">
                        <a href="/Category/<%= categorys[i].categoryId %>">
                            <img src="<%= categorys[i].image %>" class="card-img-top" alt="img">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">
                            <%= categorys[i].categoryName.toUpperCase() %>
                        </h5>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="Postcontainer">
            <% for(let i=0; i<posts.length; i++){ %>
                <div class="card">
                    <a href="/category/<%= posts[i].categoryName %>/<%= posts[i].productId %>">
                        <div class="picture">
                            <img src="<%= posts[i].image1 %>" class="card-img-top" alt="img">
                        </div>
                        <div class="aboutProduct-category">
                            <h5 class="Product-title">
                                <img width="20" height="20" src="https://img.icons8.com/fluency/48/collect.png"
                                    alt="collect" />
                                <%= posts[i].title %>
                            </h5>
                            <h6 id="Price" class="mb-3"><i class="fa-solid fa-indian-rupee-sign"></i>
                                <%= posts[i].price %>
                            </h6>
                            <div id="discription mb-3">
                                <h5 class="discription" style="display: inline;">
                                    <%= posts[i].description %>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
</body>