<body>
    <!-- navbar file -->
    <% layout("/layouts/boilerplate.ejs") %>
        <div class="Category">
            <% for(let i=0; i<categorys.length; i++){ %>
                <div class="card categoryCard">
                    <div class="Category-picture">
                        <img src="<%= categorys[i].image %>" alt="img">
                    </div>
                    <h3 class="card-text">
                        <%= categorys[i].categoryName %>
                    </h3>
                </div>
                <% } %>
        </div>
        <hr>
        <div class="Postcontainer">
            <% for(let i=0; i<posts.length; i++){ %>
                <div class="card">
                    <div class="picture">
                        <img src="<%= posts[i].image %>" class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">
                            <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/rupee.png"
                                alt="rupee" />
                            <%= posts[i].price %>
                        </h5>
                        <p class="card-text">
                            ProductId : <%= posts[i].productId %>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>

</body>