<body>
    <!-- navbar file -->
    <% layout("/layouts/boilerplate.ejs") %>
        <h3 id="Category-text">Category's</h3>
        <div class="Category">
            <% for(let i=0; i<categorys.length; i++){ %>
                <div class="card categoryCard">
                    <div class="picture">
                        <a href="/Category/<%= categorys[i].categoryId %>">
                            <img src="<%= categorys[i].image %>" class="card-img-top" alt="img">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">
                            <%= categorys[i].categoryName.toUpperCase() %>
                        </h5>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="Postcontainer">
            <% for(let i=0; i<posts.length; i++){ %>
                <div class="card">
                    <a href="/category/<%= posts[i].categoryName %>/<%= posts[i].productId %>">
                        <div class="picture">
                            <img src="<%= posts[i].image %>" class="card-img-top" alt="img">
                        </div>
                        <div class="card-body">
                            <h5 class="card-text">
                                <img width="20" height="20" src="https://img.icons8.com/material-rounded/24/rupee.png"
                                    alt="rupee" />
                                <b><%= posts[i].price %></b>
                            </h5>
                            <p class="card-text">
                                Product : <%= posts[i].description %>
                            </p>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>

</body>